@charset "utf-8";


@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');


$info: hsl(204, 86%, 53%);
$primary: hsl(171, 100%, 41%);

	$black-bis:	hsl(0, 0%, 7%);
	$black-ter:	hsl(0, 0%, 14%);
	$grey-darker:	hsl(0, 0%, 21%);
	$grey-dark:	hsl(0, 0%, 29%);
	$grey-light:	hsl(0, 0%, 71%);
	$grey-lighter:	hsl(0, 0%, 86%);
	$white-ter:	hsl(0, 0%, 96%);
	$white-bis:	hsl(0, 0%, 98%);


$family-sans-serif: "poppins", sans-serif;

$primary: $primary;


.footer { padding: 10px 0; }
footer {
  position: fixed;
  width: 100%;
  bottom: 0;

}

.map {
	height: 300px;
  }

  @media screen and (min-width: 1024px){
	  .map {
		  height: 500px;
	  }
  }


//@import "../node_modules/bulma/sass/utilities/_all.sass";
//@import "../node_modules/bulma/sass/base/_all.sass";
//@import "../node_modules/bulma/sass/elements/button.sass";
//@import "../node_modules/bulma/sass/elements/container.sass";
//@import "../node_modules/bulma/sass/form/_all.sass";
//@import "../node_modules/bulma/sass/layout/hero.sass";
//@import "../node_modules/bulma/sass/layout/section.sass";